html, body {
  height: 100%;
  margin: 0;
}

#map {
  height: 100%;
  width: 100%;
}

.headSidebar {
  padding-right: 1.1em;
  border: none;
}

.headline {
  margin-bottom: 0px;
}

.inputField {
  width: 100% !important;
  padding-top: 0px;
}

.searchBox {
  border: none !important;
}

.list {
  padding-right: 1em !important;
}

.cardHead {
  font-size: 1.15em !important;
}

.keywords {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
}

.scrollbar {
  overflow-y: auto;
  height: 84vh;
  scrollbar-color: #cdcdcd #fff;
}

#scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
}

#scrollbar::-webkit-scrollbar {
  width: 11px;
  background-color: #fff;
}

#scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cdcdcd;
}
