html, body {
    height: 100%;
    margin: 0;
    background-color: #192a56;
}

#map {
    height: 100%;
    width: 100%;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid #f00;
  }